.tree li {
    list-style-type:none;
    margin:0;
    padding:0 5px 0 45px;
    position:relative;
}
.tree li::before,
.tree li::after {
    content:'';
    left:15px;
    position:absolute;
    right:auto;
}
.tree li::before {
    border-left:1px solid #000;
    bottom:50px;
    height:100%;
    top:-11px;
    width:1px
}
.tree li::after {
    border-top:1px solid #000;
    height:20px;
    top:15px;
    width:39px;
}
.tree li span {
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    /*border:2px solid #000;
    border-radius:3px;*/
    display:inline-block;
    padding:3px 8px;
    text-decoration:none;
    cursor:pointer;
}
.tree>ul>li::before,
.tree>ul>li::after {
    border:0;
}
.tree li:last-child::before {
    height:27px;
}
.tree li span:hover {
    background: #e7e7e7;
    border:1px solid #94a0b4;
    }

[aria-expanded="false"] > .expanded,
[aria-expanded="true"] > .collapsed {
  display: none;
}
.treemain{
    color:#000 !important;
    text-decoration:none !important;
}
